/* GENERAL */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  position: relative;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.blackout {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

/* FIRST SECTION */

.first-section {
  background-image: url('../../../assets/images/panda_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 386px;
  width: 100%;
  overflow: hidden;
}

.header__wrapper {
  background: #000000;
  color: white;
}

.header {
  display: flex;
  align-items: center;
  padding: 1px 15px;
  margin: 0 auto;
  max-width: 1190px;
}

.logo__title {
  width: 82px;
  padding: 2px 0;
  position: relative;
  text-align: center;
  border: 1px solid #ffffff;
  border-radius: 2px;
  font-weight: 400;
  font-size: 19px;
  line-height: 120%;
}

.logo__img {
  display: inline-block;
  position: relative;
}

.logo__img:before {
  content: url('../../../assets/icons/bamboo.svg');
  position: absolute;
  bottom: 0;
  right: 30%;
}

.menu {
  margin-left: 63px;
}

.list {
  display: flex;
  gap: 58px;
  list-style-type: none;
}

.item {
  font-weight: 500;
  font-size: 16px;
  align-self: center;
}

.item:active {
  color: #f9804b;
}

.copyright {
  margin-left: auto;
  font-size: 16px;
}

.copyright__link:active {
  color: #f9804b;
}

.burger-img {
  display: none;
}

.burger-popup {
  display: none;
}

/*MAIN*/

.main {
  padding: 40px 0 182px;
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #febdab 100.95%, rgba(254, 210, 144, 0.7) 106.36%),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
  overflow: hidden;
}

.donate {
  max-width: 1190px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.donate__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  align-self: center;
  color: #ffffff;
  margin-bottom: 10px;
}

.donate__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
  margin-bottom: 45px;
}

.donate__subtitle {
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #fe9013;
  margin-bottom: 60px;
}

.donate-choice {
  width: 100%;
  background: rgba(255, 255, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  padding: 40px 92px 62px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.donate-choice__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  color: #fe9013;
  margin-bottom: 22px;
  padding-right: 10px;
}

.donate-choice__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #333b41;
  align-self: start;
  margin-bottom: 60px;
}

.donate-choise__counter {
  display: flex;
  align-items: center;
  width: 546px;
  justify-content: space-between;
  margin-bottom: 46px;
}

.counter__period {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.counter__number {
  font-weight: 500;
  font-size: 72px;
  line-height: 80%;
  text-transform: uppercase;
}

.counter__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #333b41;
  margin-top: 10px;
}

.counter__cross {
  padding: 25px 55px 0 0;
}

.counter__animal {
  padding-right: 14px;
}

.donate__form-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  align-self: start;
  margin: 0 0 19px 5px;
}

.donate__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-range__container {
  position: relative;
  margin-bottom: 12px;
  border-radius: 2px;
  width: 100%;
}

.form__range {
  -webkit-appearance: none;
  -moz-appearance: none;
  display: block;
  margin: 0;
  width: 100%;
  background: transparent;
  cursor: pointer;
}

.form__range_small {
  display: none;
}

.form__range_tablet {
  display: none;
}

.form__range:focus {
  outline: none;
}

.form__range::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  z-index: -1;
  width: 100%;
  color: transparent;
  border-radius: 2px;
  border: none;
  padding: 4px 14px 4px 10px;
  height: 25px;
  background: rgba(64, 73, 80, 1);
}

.form__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  cursor: pointer;
  height: 40px;
  width: 40px;
  padding: 8.5px;
  border-radius: 50%;
  box-shadow: 0px 2px 10px -2px black(1);
  position: relative;
  z-index: 2;
  background: url('../../../assets/icons/roller_icon.svg') center center;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin: -11px 0;
}

.hide-thumb::-webkit-slider-thumb {
  visibility: hidden;
}

.form__range::-moz-range-track {
  -moz-appearance: none;
  z-index: -1;
  width: 100%;
  height: 27px;
  color: transparent;
  border-radius: 2px;
  border: none;
  background: rgba(64, 73, 80, 1);
}

.form__range::-moz-range-thumb {
  -moz-appearance: none;
  border: none;
  cursor: pointer;
  height: 20px;
  width: 20px;
  padding: 8.5px;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  background: url('../../../assets/icons/roller_icon.svg') center center;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.ticks {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 29px 0 25px;
}

.tick {
  z-index: 2;
  width: 10px;
  background: #ffee2e;
  height: 10px;
  border-radius: 100%;
}

.middle-line {
  position: absolute;
  width: calc(100% - 60px);
  border: none;
  color: #72828e;
  background-color: #72828e;
  height: 2px;
}

.form-price__wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-right: 10px;
  margin-bottom: 50px;
}

.form-price {
  width: 57px;
  font-weight: 500;
  font-size: 26px;
  line-height: 140%;
  text-transform: uppercase;
  color: #333b41;
}

.form__number-currency {
  position: relative;
}

.form__number {
  display: block;
  width: 268px;
  padding: 13px 25px 15px 8px;
  border: 1px solid #929699;
  background-color: transparent;
  color: #333b41;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.form__number:active {
  border: 1px solid #4b9200;
}

.form__number:active::placeholder {
  color: #4b9200;
}
.form__number:active:-ms-input-placeholder {
  color: #4b9200;
}
.form__number:active::-ms-input-placeholder {
  color: #4b9200;
}

.form__number:invalid {
  color: #d31414;
  border: 1px solid #d31414;
}

.form__number-currency:after {
  position: absolute;
  top: 12px;
  content: '$';
  right: 10px;
  color: #929699;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.form__radio {
  display: flex;
  gap: 76px;
  padding-left: 10px;
  margin-bottom: 30px;
}

.form__radio-btn {
  display: none;
}

.form__radio-text {
  display: inline-block;
  cursor: pointer;
  position: relative;
  margin-right: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333b41;
  user-select: none;
}

.form__radio-text:before {
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  position: absolute;
  border: 1px solid #fe9013;
  border-radius: 50%;
  top: 2px;
  left: -26px;
}

.form__radio-btn:checked + .form__radio-text:before {
  background-color: #fe9013;
}

.btn {
  width: 300px;
  height: 54px;
  text-align: center;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
  color: white;
  border: none;
  cursor: pointer;
  outline: none;
}

.btn:hover {
  background: #e47209;
}

.btn:active {
  background: #4b9200;
}

.btn:disabled {
  background: #767474;
}

.form__submit {
  margin: 0 0 28px 3px;
}

.donate__form:invalid .form__submit {
  background: #767474;
  pointer-events: none;
}

.donate__bottom-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333b41;
}

/*FOOTER*/

.footer {
  background: #111115;
  color: white;
  padding: 40px 0 50px;
}

.footer-info__wrapper {
  margin: 0 auto;
  display: flex;
  max-width: 1190px;
  padding: 0 15px;
  justify-content: space-between;
}

.footer-info__wrapper_tablet {
  display: none;
}

.footer-info__wrapper_mobile {
  display: none;
}

.footer-logo__title {
  margin-bottom: 68px;
}

.footer__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 47px;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.link {
  display: flex;
}

.link:hover > .icon__wrapper {
  background: #e47209;
}

.link:active > .icon__wrapper {
  background: #4b9200;
}

.link:disabled > .icon__wrapper {
  background: #767474;
}

.link:hover > .link-text {
  color: #e47209;
}

.link:active > .link-text {
  color: #4b9200;
}

.link:disabled > .link-text {
  color: #767474;
}

.link-text {
  align-self: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.icon__wrapper {
  width: 26px;
  height: 26px;
  margin-right: 12px;
  background: rgba(196, 196, 196, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon__facebook {
  width: 8px;
}

.icon__twitter {
  width: 16px;
}

.icon__instagram {
  width: 16px;
}

.icon__youtube {
  width: 18px;
}

.footer__menu {
  align-self: end;
  margin: 0 0 4px 68px;
}

.footer__subscribe {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.subscribe__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  margin-bottom: 14px;
}

.subscribe__input {
  width: 228px;
  padding: 9px;
  border: 1px solid #f9804b;
  background-color: #111115;
  color: #bdbdbd;
  margin: 0 7px 7px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.subscribe__input:invalid {
  border: 1px solid #d31414;
}

.subscribe__form:invalid .subscribe__input:focus {
  border: 1px solid #4b9200;
}

.subscribe__submit {
  width: 129px;
  height: 42px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: black;
  border: 1px solid #333b41;
  border-radius: 5px;
  cursor: pointer;
}

.subscribe__form:valid .subscribe__submit:active {
  color: #4b9200;
  border: 1px solid #4b9200;
}

.subscribe__form:invalid .subscribe__submit {
  color: #d31414;
  border: 1px solid #d31414;
  pointer-events: none;
}

.footer__copyright {
  align-self: end;
  font-weight: 100;
  font-size: 16px;
  line-height: 160%;
}

.copyright__author {
  margin-bottom: 5px;
}

/*MEDIA*/

@media (max-width: 1320px) {
  /* FIRST SECTION */

  .first-section {
    background-image: url('../../../assets/images/panda_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 28.5%;
    height: 390px;
    width: 100%;
  }

  .header {
    padding: 1px 3%;
  }

  .list {
    gap: 48px;
  }

  /*MAIN*/

  .main {
    padding: 40px 0 30px;
  }

  .donate {
    padding: 0 3%;
  }

  .donate__title {
    margin-bottom: 30px;
    margin-right: 95px;
  }

  .donate__text {
    margin-bottom: 45px;
  }

  .donate__subtitle {
    margin-bottom: 40px;
  }

  .donate-choice {
    padding: 20px 65px 46px;
  }

  .donate-choice__title {
    margin-bottom: 10px;
  }

  .donate-choice__text {
    align-self: center;
    text-align: center;
    width: 105%;
    margin-bottom: 63px;
  }

  .donate__form-title {
    margin: 0 0 17px 0;
  }

  .form-range__container {
    width: 100.5%;
  }

  .form__range {
    display: none;
  }

  .form__range_small {
    -webkit-appearance: none;
    -moz-appearance: none;
    display: block;
    margin: 0;
    width: 100%;
    background: transparent;
    cursor: pointer;
  }

  .form__range_small:focus {
    outline: none;
  }

  .form__range_small::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    z-index: -1;
    width: 100%;
    color: transparent;
    border-radius: 2px;
    border: none;
    padding: 4px 0;
    background: rgba(64, 73, 80, 1);
  }

  .form__range_small::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: pointer;
    height: 40px;
    width: 40px;
    padding: 0;
    border-radius: 50%;
    box-shadow: 0px 2px 10px -2px black(1);
    position: relative;
    z-index: 2;
    background: url('../../../assets/icons/roller_icon.svg') center center;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin: -11px 0;
  }

  .form__range_small::-moz-range-track {
    -moz-appearance: none;
    z-index: -1;
    width: 100%;
    height: 27px;
    color: transparent;
    border-radius: 2px;
    border: none;
    background: rgba(64, 73, 80, 1);
  }

  .form__range_small::-moz-range-thumb {
    -moz-appearance: none;
    border: none;
    cursor: pointer;
    height: 20px;
    width: 20px;
    padding: 8.5px;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    background: url('../../../assets/icons/roller_icon.svg') center center;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

  .ticks {
    padding: 0 14px;
  }

  .tick_1 {
    display: none;
  }

  .middle-line {
    width: calc(100% - 35px);
  }

  .form-price__wrapper {
    padding-right: 0;
    width: 103%;
    margin-bottom: 50px;
  }

  .form-price {
    text-align: end;
  }

  .form-price_1 {
    display: none;
  }

  .form-price_2 {
    margin-left: 8px;
  }

  .form-price_3 {
    margin-left: 8px;
  }

  .form-price_4 {
    margin-left: 8px;
  }

  .form-price_5 {
    margin-left: 8px;
  }

  .form-price_6 {
    margin-left: 8px;
  }

  .form-price_7 {
    margin-right: 8px;
  }

  .form__number {
    margin-bottom: 28px;
  }

  /*FOOTER*/

  .footer {
    padding: 40px 0 50px;
  }

  .footer-info__wrapper {
    padding: 0 3%;
  }

  .footer-logo__title {
    margin-bottom: 70px;
  }
  .footer__menu {
    margin: 0 -80px 4px -10px;
  }

  .subscribe__title {
    margin-bottom: 15px;
    margin-left: -30px;
  }

  .subscribe__form {
    margin-left: -30px;
    margin-right: 30px;
  }

  /*GENERAL*/

  .item_active {
    color: #f9804b;
    pointer-events: none;
  }
}

@media (max-width: 965px) {
  /* FIRST SECTION */

  .header__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
  }

  .header {
    justify-content: space-between;
    padding: 1px 3%;
  }

  .logo__title {
    width: 47px;
    border: none;
    font-size: 12px;
    margin: 0;
  }

  .logo__img:before {
    content: url('../../../assets/icons/bamboo-tablet.svg');
  }

  .header__menu {
    display: none;
  }

  .copyright {
    display: none;
  }

  .burger-img {
    display: block;
    cursor: pointer;
  }

  .burger-menu__icon {
    width: 19px;
    height: 18px;
  }

  .burger-popup {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -350px;
    left: 0;
    width: 100%;
    background: #ffffff;
    z-index: 4;
    padding: 10px;
    transition: transform 0.5s;
  }

  .cross_burger {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

  .burger-logo__title {
    color: rgba(254, 144, 19, 1);
    border: 1px solid rgba(254, 144, 19, 1);
    font-size: 15px;
    width: 66px;
    margin-bottom: 30px;
    cursor: default;
  }

  .logo__img_burger:before {
    content: url('../../../assets/icons/bamboo-orange.svg');
  }

  .burger-menu__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
    list-style-type: none;
  }

  .burger-menu__link {
    color: #333b41;
  }

  .burger-menu__link:active {
    color: #f9804b;
  }

  .first-section {
    margin-top: 33px;
    background-position: 37% 75%;
    height: 335px;
  }

  /*MAIN*/

  .main {
    padding: 30px 0 46px;
  }

  .donate {
    padding: 0 3%;
  }

  .donate__title {
    margin-bottom: 20px;
    margin-right: 30px;
    font-size: 24px;
    line-height: 115%;
  }

  .donate__text {
    margin-bottom: 30px;
  }

  .donate__subtitle {
    margin-bottom: 30px;
  }

  .donate-choice {
    padding: 30px 0;
  }

  .donate-choice__title {
    margin-left: 10px;
    margin-bottom: 20px;
  }

  .donate-choice__text {
    align-self: center;
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
  }

  .donate-choise__counter {
    margin-bottom: 40px;
  }

  .donate__form-title {
    margin: 0 0 9px 10px;
  }

  .form-range__container {
    width: 100%;
  }

  .form__range_small {
    display: none;
  }

  .form__range_tablet {
    -webkit-appearance: none;
    -moz-appearance: none;
    display: block;
    margin: 0;
    width: 100%;
    background: transparent;
    cursor: pointer;
  }

  .form__range_tablet:focus {
    outline: none;
  }

  .form__range_tablet::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    z-index: -1;
    width: 100%;
    color: transparent;
    border-radius: 2px;
    border: none;
    padding: 4px 20px;
    background: rgba(64, 73, 80, 1);
  }

  .form__range_tablet::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: pointer;
    height: 40px;
    width: 40px;
    padding: 0;
    border-radius: 50%;
    box-shadow: 0px 2px 10px -2px black(1);
    position: relative;
    z-index: 2;
    background: url('../../../assets/icons/roller_icon.svg') center center;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin: -11px 0;
  }

  .form__range_tablet::-moz-range-track {
    -moz-appearance: none;
    z-index: -1;
    width: 100%;
    height: 27px;
    color: transparent;
    border-radius: 2px;
    border: none;
    background: rgba(64, 73, 80, 1);
  }

  .form__range_tablet::-moz-range-thumb {
    -moz-appearance: none;
    border: none;
    cursor: pointer;
    height: 20px;
    width: 20px;
    padding: 8.5px;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    background: url('../../../assets/icons/roller_icon.svg') center center;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

  .ticks {
    padding: 0 35px;
  }

  .tick_1 {
    display: none;
  }

  .tick_2 {
    display: none;
  }

  .tick_3 {
    display: none;
  }

  .middle-line {
    width: calc(100% - 80px);
  }

  .form-price__wrapper {
    padding-right: 0;
    width: 94%;
    margin-bottom: 50px;
  }

  .form-price {
    text-align: end;
  }

  .form-price_1 {
    display: none;
  }

  .form-price_2 {
    display: none;
  }

  .form-price_3 {
    display: none;
  }

  .form-price_4 {
    margin-left: 0;
  }

  .form-price_5 {
    margin-left: 0;
  }

  .form-price_6 {
    margin-left: 0;
  }

  .form-price_7 {
    margin-right: 5px;
  }

  .form__number {
    width: 180px;
    padding: 8px 25px 8px 5px;
    margin-bottom: 32px;
  }

  .form__number-currency:after {
    top: 8px;
  }

  /*FOOTER*/

  .footer {
    padding: 12px 0;
  }

  .footer-info__wrapper {
    display: none;
  }

  .footer-info__wrapper_tablet {
    margin: 0 auto;
    display: flex;
    padding: 0 10px;
    justify-content: space-between;
  }

  .footer__links {
    margin-left: 10px;
  }

  .footer-logo__title {
    width: 82px;
    padding: 2px 0;
    position: relative;
    text-align: center;
    border: 1px solid #ffffff;
    border-radius: 2px;
    font-weight: 400;
    font-size: 19px;
    line-height: 120%;
    margin-bottom: 32px;
  }

  .footer__btn {
    margin-bottom: 99px;
  }

  .footer__menu {
    align-self: start;
    margin: 0;
  }

  .list {
    gap: 37px;
  }

  .footer__social-net {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
  }

  .links {
    gap: 20px;
  }

  .footer__copyright {
    margin-right: 10px;
    margin-bottom: -5px;
    font-weight: 100;
    font-size: 16px;
    line-height: 160%;
  }

  .copyright__author {
    margin-bottom: 5px;
  }
}

@media (max-width: 590px) {
  /* FIRST SECTION */

  .first-section {
    background-position: 33%;
    height: 187px;
  }

  /*MAIN*/

  .main {
    padding: 31px 0 20px;
  }

  .donate__title {
    margin-bottom: 19px;
    margin-right: 0;
    font-size: 24px;
    line-height: 115%;
  }

  .donate__text {
    margin-bottom: 26px;
  }

  .donate__subtitle {
    margin-bottom: 30px;
    font-size: 24px;
  }

  .donate-choice {
    padding: 20px 0;
  }

  .donate-choice__title {
    margin-left: 10px;
    margin-bottom: 12px;
    font-size: 24px;
  }

  .donate-choice__text {
    align-self: center;
    text-align: center;
    width: 100%;
    margin-bottom: 15px;
    font-size: 16px;
  }

  .donate-choise__counter {
    display: flex;
    align-items: center;
    max-width: 350px;
    width: 100%;
    padding-right: 0;
    justify-content: space-between;
    margin-bottom: 4px;
  }

  .counter__period {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }

  .counter__number {
    font-size: 40px;
  }

  .counter__text {
    font-size: 9px;
    margin-top: 10px;
  }

  .counter__cross {
    width: 37px;
    padding: 13px 29px 0 0;
  }

  .counter__animal {
    width: 160px;
    padding-right: 0;
  }

  .donate__form-title {
    margin: 0 0 9px 0;
  }

  .form-range__container {
    margin-bottom: 5px;
  }

  .form__range_tablet::-webkit-slider-runnable-track {
    padding: 4px 10px;
  }

  .form__range_tablet::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    margin: -7px 0;
  }

  .ticks {
    padding: 0 18px;
  }

  .tick {
    width: 5px;
    height: 5px;
  }

  .middle-line {
    width: calc(100% - 40px);
  }

  .form-price__wrapper {
    padding: 0 8px;
    width: 100%;
    margin-bottom: 26px;
  }

  .form-price {
    text-align: center;
    font-size: 13px;
    width: 30px;
  }

  .form-price_1 {
    display: none;
  }

  .form-price_2 {
    display: none;
  }

  .form-price_3 {
    display: none;
  }

  .form-price_4 {
    margin-left: 0;
  }

  .form-price_5 {
    margin-left: 3px;
  }

  .form-price_6 {
    margin-left: 5px;
  }

  .form-price_7 {
    margin-right: 5px;
  }

  .form__number {
    width: 180px;
    padding: 8px 25px 8px 5px;
    margin-bottom: 26px;
  }

  .form__radio {
    margin-bottom: 28px;
  }

  /*FOOTER*/

  .footer {
    padding: 22px 0;
  }

  .footer-info__wrapper_tablet {
    display: none;
  }

  .footer-info__wrapper_mobile {
    padding: 0 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo__img_footer:before {
    content: url('../../../assets/icons/bamboo.svg');
  }

  .footer-logo__title {
    width: 200px;
    text-align: center;
    padding: 0;
    border: none;
    margin-bottom: 28px;
  }

  .links {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    gap: 5px;
    padding: 0 53px;
    margin-bottom: 30px;
  }

  .icon__wrapper {
    margin: 0;
  }

  .footer__btn {
    margin-bottom: 28px;
  }

  .footer__menu {
    align-self: center;
    width: 100%;
    margin: 0;
  }

  .list {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 5px;
    padding: 0 10px;
  }

  .footer__copyright {
    font-size: 15px;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .copyright__author {
    margin-bottom: 5px;
  }
}

/*GENERAL*/

.item_active {
  color: #f9804b;
  pointer-events: none;
}

textarea:focus,
input:focus {
  outline: none;
}

.hide {
  display: none;
}

.burger-show {
  transform: translateY(350px);
}

.tick_active {
  background: #4b9200;
}
