/* GENERAL */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  position: relative;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

a {
  color: white;
  text-decoration: none;
}

.blackout {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

/* FIRST SECTION */

.first-section {
  color: white;
  background-image: url('../../../assets/images/giant-panda.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.header__wrapper {
  background: #000000;
  transition: transform 0.3s;
}

.header {
  display: flex;
  align-items: center;
  padding: 1px 15px;
  margin: 0 auto;
  max-width: 1190px;
}

.logo__title {
  width: 82px;
  padding: 2px 0;
  position: relative;
  text-align: center;
  border: 1px solid #ffffff;
  border-radius: 2px;
  font-weight: 400;
  font-size: 19px;
  line-height: 120%;
}

.logo__img {
  display: inline-block;
  position: relative;
}

.logo__img:before {
  content: url('../../../assets/icons/bamboo.svg');
  position: absolute;
  bottom: 0;
  right: 30%;
}

.menu {
  margin-left: 63px;
}

.list {
  display: flex;
  gap: 58px;
  list-style-type: none;
}

.item {
  font-weight: 500;
  font-size: 16px;
  align-self: center;
}

.item:active {
  color: #f9804b;
}

.copyright {
  margin-left: auto;
  font-size: 16px;
}

.copyright__link:active {
  color: #f9804b;
}

.burger-img {
  display: none;
}

.burger-popup {
  display: none;
}

.watch-favorite__wrapper {
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 15px 103px;
}

.watch-favorite {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  margin: 86px 0 0 auto;
  position: relative;
}

.watch-favorite__title {
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 60px 0;
  font-weight: 700;
  font-size: 106px;
  line-height: 75%;
  z-index: 2;
}

.watch-favorite__title:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: -74px;
  left: -74px;
  width: 465px;
  height: 465px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 50%;
}

.watch-favorite__title_yellow {
  color: #ffee2e;
}

.btn {
  width: 300px;
  height: 54px;
  text-align: center;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
  color: white;
  border: none;
  cursor: pointer;
  outline: none;
}

.btn:hover {
  background: #e47209;
}

.btn:active {
  background: #4b9200;
}

.btn:disabled {
  background: #767474;
}

.watch-favorite__btn_tablet {
  display: none;
}

/* SECOND SECTION */

.second-section {
  position: relative;
}

.second-section:after {
  display: block;
  content: url('../../../assets/images/flower.png');
  position: absolute;
  top: 10px;
  right: -1px;
  height: 608px;
  width: 205px;
}

.flower-img_tablet {
  display: none;
}

.backstage {
  margin: 140px auto 180px;
  max-width: 1190px;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
}

.watch-favorite__btn_mobile {
  display: none;
}

.backstage-img__wrapper {
  display: flex;
  align-items: center;
}

.backstage-img {
  flex: 0 1 610px;
  margin-right: 15px;
}

.backstage-img_small {
  display: none;
}

.backstage__text {
  flex: 0 1 465px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 400;
  color: #333b41;
}

.backstage__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  margin-bottom: 3px;
}

.backstage-info__first {
  font-size: 16px;
  line-height: 130%;
  margin-bottom: 36px;
}

.backstage__subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  margin-bottom: 14px;
}

.backstage-info__second {
  font-size: 16px;
  line-height: 140%;
}

/* THIRD SECTION */

.third-section {
  position: relative;
  padding-bottom: 100px;
}

.third-section:before {
  content: url('../../../assets/images/palm.png');
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 292px;
  z-index: -1;
}

.third-section:after {
  content: url('../../../assets/images/strelitzia.png');
  position: absolute;
  right: 0;
  bottom: -4px;
  width: 368px;
  z-index: -1;
}

.slider {
  max-width: 1354px;
  padding: 0;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
}

.slider__content {
  width: 1160px;
  overflow: hidden;
}

.slider__content_wrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  transition: transform 0.15s;
  gap: 20px 5px;
}

.slider__arrow-left__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translate(0, -50%);
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  cursor: pointer;
  z-index: 2;
}

.slider__arrow-left {
  width: 16px;
}

.slider__arrow-left__wrapper:hover {
  background: #e47209;
}

.slider__arrow-left__wrapper:active {
  background: #4b9200;
}

.slider__arrow-left__wrapper:disabled {
  background: #767474;
}

.slider__arrow-right__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(0, -50%);
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  cursor: pointer;
  z-index: 2;
}

.slider__arrow-right {
  width: 16px;
}

.slider__arrow-right__wrapper:hover {
  background: #e47209;
}

.slider__arrow-right__wrapper:active {
  background: #4b9200;
}

.slider__arrow-right__wrapper:disabled {
  background: #767474;
}

.slide__wrapper {
  position: relative;
  width: 366px;
  height: 426px;
  border: 1px solid #fa6f32;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}

.slide__wrapper:hover {
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
}

.slide__wrapper:nth-child(7) {
  display: none;
}

.slide-img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: all 0.5s;
}

.slide__wrapper:hover .slide-img {
  transform: scale(1.03);
}

.slide-img__wrapper {
  position: relative;
}

.slide-img__wrapper:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  transition: all 0.5s;
}

.slide__wrapper:hover .slide-img__wrapper:after {
  bottom: -2px;
  background-color: rgba(0, 0, 0, 0.3);
}

.slide-info {
  position: relative;
  width: 366px;
  display: flex;
  padding: 4px 9px 12px 15px;
}

.slide-text__wrapper {
  bottom: 10px;
  position: absolute;
  transition: all 0.5s;
}

.slide__wrapper:hover .slide-text__wrapper {
  bottom: 60px;
  color: white;
}

.slide-info__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
}

.slide-info__text {
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
}

.slide-info__text_alligator-tablet {
  display: none;
}

.slide-info__icon {
  height: 38px;
  margin-left: auto;
}

.slide__wrapper:hover .slide-info__icon {
  visibility: hidden;
}

.choose-favorite__btn {
  display: block;
  margin: 80px auto 0;
  background-color: #fe9013;
}

/*FOURTH SECTION*/

.fourth-section {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #febdab 100.95%, rgba(254, 210, 144, 0.7) 106.36%),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
  padding: 70px 0 100px;
}

.pick-and-feed {
  margin: 0 auto;
  max-width: 1160px;
  padding: 41px 0 59px;
  background: rgba(253, 253, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
}

.pick-and-feed__title {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  color: #fe9013;
}

.pick-and-feed__main-text {
  margin: 0 0 40px 8.5%;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #333b41;
}

.pick-and-feed__text_bold {
  margin: 0 0 10px 8.5%;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #333b41;
}

.pick-and-feed__text {
  margin: 0 17% 58px 8.5%;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #333b41;
}

.pick-and-feed__text_underline {
  display: inline-block;
  border-bottom: 1px solid #fe9013;
  padding-bottom: 2px;
  color: #333b41;
}

.pick-and-feed__subtitle {
  text-align: center;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #333b41;
}

.pick-and-feed__steps {
  display: flex;
  max-width: 765px;
  margin: 0 auto 60px;
  justify-content: space-between;
}

.pick-and-feed__step {
  width: 168px;
}

.step-img__wrapper {
  height: 168px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background: #ffffff;
  border: 1px solid #f9804b;
  border-radius: 5px;
}

.step-img_pay {
  width: 108px;
}

.step-img_zoo {
  width: 86px;
}

.step-img_monkey {
  width: 125px;
}

.step__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333b41;
}

.arrow-img {
  width: 70px;
}

.arrow-img__first {
  margin-bottom: 82px;
}

.arrow-img__second {
  margin-bottom: 90px;
}

.pick-and-feed__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

/*FIFTH SECTION*/

.fifth-section {
  padding: 140px 0 180px;
  position: relative;
  overflow: hidden;
}

.fifth-section:after {
  content: url('../../../assets/images/leaf.png');
  position: absolute;
  bottom: -137px;
  right: 0;
  z-index: -1;
  width: 247px;
}

.testimonials__wrapper {
  max-width: 1190px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.testimonials {
  display: flex;
  width: 1160px;
  flex-direction: column;
  overflow: hidden;
  padding: 0 6px 0 2px;
}

.testimonials__title {
  margin-bottom: 49px;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #333b41;
  align-self: center;
}

.testimonials__content {
  margin-bottom: 21px;
  width: 3523px;
  display: flex;
  gap: 30px;
  transition: transform 0.3s;
}

.testimonial {
  width: 266px;
  height: 391px;
  position: relative;
  background: #f1f3f2;
  border-radius: 20px;
  padding: 15px;
}

.testimonial:before {
  content: '';
  position: absolute;
  z-index: -1;
  inset: -2px;
  border-radius: 20px;
  background: linear-gradient(
    315.75deg,
    rgba(254, 189, 171, 0.74) 30.06%,
    rgba(243, 169, 248, 0.66) 50.74%,
    #e0d8f0 80.49%,
    #eaf7fe 127.9%,
    #eaf7fe 149.54%
  );
}

.testimonial__header {
  display: flex;
  gap: 12px;
  margin-bottom: 10px;
}

.testimonial__img {
  width: 37px;
}

.testimonial__name {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
}

.testimonial__location {
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #bdbdbd;
}

.testimonial__text {
  height: 309px;
  overflow: hidden;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #767474;
}

.testimonials__range__wrapper {
  width: 600px;
  height: 6px;
  border-radius: 5px;
  position: relative;
  margin-bottom: 31px;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonials__range {
  -webkit-appearance: none;
  -moz-appearance: none;
  display: block;
  margin: 0;
  width: 100%;
  background: transparent;
  cursor: pointer;
}

.testimonials__range:focus {
  outline: none;
}

.testimonials__range::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  z-index: -1;
  width: 100%;
  color: transparent;
  border-radius: 5px;
  border: none;
  background: #f5f7f6;
}

.testimonials__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  cursor: pointer;
  height: 6px;
  width: 115.19px;
  border-radius: 5px;
  position: relative;
  z-index: 2;
  background: #fe9013;
  background-size: 100%;
}

.testimonials__range__wrapper:hover .testimonials__range::-webkit-slider-thumb {
  background: #e47209;
}

.testimonials__range__wrapper:active .testimonials__range::-webkit-slider-thumb {
  background: #4b9200;
}

.testimonials__range__wrapper:disabled .testimonials__range::-webkit-slider-thumb {
  background: #767474;
}

.testimonials__range::-moz-range-track {
  -moz-appearance: none;
  z-index: -1;
  width: 100%;
  height: 6px;
  color: transparent;
  border-radius: 5px;
  border: none;
  background: #f5f7f6;
}

.testimonials__range::-moz-range-thumb {
  -moz-appearance: none;
  border: none;
  cursor: pointer;
  height: 6px;
  width: 115.19px;
  border-radius: 5px;
  position: relative;
  z-index: 2;
  background: #fe9013;
  background-size: 100%;
}

.testimonials__range__wrapper:hover .testimonials__range::-moz-range-thumb {
  background: #e47209;
}

.testimonials__range__wrapper:active .testimonials__range::-moz-range-thumb {
  background: #4b9200;
}

.testimonials__range__wrapper:disabled .testimonials__range::-moz-range-thumb {
  background: #767474;
}

.testimonials__range__wrapper:before {
  content: '';
  position: absolute;
  z-index: -1;
  inset: -0.5px;
  border-radius: 5px;
  background: linear-gradient(
    315.75deg,
    rgba(254, 189, 171, 0.74) 30.06%,
    rgba(243, 169, 248, 0.66) 50.74%,
    #e0d8f0 80.49%,
    #eaf7fe 127.9%,
    #eaf7fe 149.54%
  );
}

.testimonials__btn {
  border-radius: 5px;
}

/*FOOTER*/

.footer {
  background: #111115;
  color: white;
  padding: 40px 0 50px;
}

.footer-info__wrapper {
  margin: 0 auto;
  display: flex;
  max-width: 1190px;
  padding: 0 15px;
  justify-content: space-between;
}

.footer-info__wrapper_tablet {
  display: none;
}

.footer-info__wrapper_mobile {
  display: none;
}

.footer-logo__title {
  margin-bottom: 68px;
}

.footer__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 47px;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.link {
  display: flex;
}

.link:hover > .icon__wrapper {
  background: #e47209;
}

.link:active > .icon__wrapper {
  background: #4b9200;
}

.link:disabled > .icon__wrapper {
  background: #767474;
}

.link:hover > .link-text {
  color: #e47209;
}

.link:active > .link-text {
  color: #4b9200;
}

.link:disabled > .link-text {
  color: #767474;
}

.link-text {
  align-self: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.icon__wrapper {
  width: 26px;
  height: 26px;
  margin-right: 12px;
  background: rgba(196, 196, 196, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon__facebook {
  width: 8px;
}

.icon__twitter {
  width: 16px;
}

.icon__instagram {
  width: 16px;
}

.icon__youtube {
  width: 18px;
}

.footer__menu {
  align-self: end;
  margin: 0 0 4px 68px;
}

.footer__subscribe {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.subscribe__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  margin-bottom: 14px;
}

.subscribe__input {
  width: 228px;
  padding: 9px;
  border: 1px solid #f9804b;
  background-color: #111115;
  color: #bdbdbd;
  margin: 0 7px 7px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.subscribe__input:invalid {
  border: 1px solid #d31414;
}

.subscribe__form:invalid .subscribe__input:focus {
  border: 1px solid #4b9200;
}

.subscribe__submit {
  width: 129px;
  height: 42px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: black;
  border: 1px solid #333b41;
  border-radius: 5px;
  cursor: pointer;
}

.subscribe__form:valid .subscribe__submit:active {
  color: #4b9200;
  border: 1px solid #4b9200;
}

.subscribe__form:invalid .subscribe__submit {
  color: #d31414;
  border: 1px solid #d31414;
  pointer-events: none;
}

.footer__copyright {
  align-self: end;
  font-weight: 100;
  font-size: 16px;
  line-height: 160%;
}

.copyright__author {
  margin-bottom: 5px;
}

/*MEDIA*/

@media (max-width: 1580px) {
  /* THIRD SECTION */

  .third-section:before {
    content: url('../../../assets/images/palm-small.png');
    width: 196px;
  }

  .third-section:after {
    content: url('../../../assets/images/strelitzia-small.png');
    width: 241px;
  }
}

@media (max-width: 1500px) {
  /* SECOND SECTION */

  .second-section:after {
    display: none;
  }
}

@media (max-width: 1320px) {
  /* FIRST SECTION */

  .header {
    padding: 1px 3%;
  }

  .list {
    gap: 48px;
  }

  .watch-favorite__wrapper {
    overflow: hidden;
    padding: 0 3% 47px;
  }

  .watch-favorite {
    width: 400px;
    margin: 43px 55px 0 auto;
  }

  .watch-favorite__title {
    margin: 0 0 40px 0;
    font-size: 85px;
  }

  .watch-favorite__title:before {
    top: -54px;
    left: -58px;
    width: 367px;
    height: 367px;
  }

  /* SECOND SECTION */

  .backstage {
    margin: 109px auto 153px;
    padding: 0 3%;
  }

  .backstage-img {
    display: none;
  }

  .backstage-img_small {
    display: block;
    flex: 0 1 455px;
    margin-right: 30px;
  }

  .backstage__text {
    flex: 0 1 465px;
  }

  .backstage__title {
    margin-top: -8px;
    margin-bottom: 10px;
  }

  .backstage-info__first {
    margin-bottom: 42px;
  }

  .backstage__subtitle {
    margin-bottom: 23px;
  }

  .backstage-info__second {
    margin-right: 5px;
    margin-bottom: -12px;
  }

  /* THIRD SECTION */

  .third-section {
    padding-bottom: 140px;
  }

  .slider {
    padding: 0 0.5%;
  }

  .slider__content {
    width: 940px;
    margin: 0 auto;
  }

  .slider__content_wrapper {
    gap: 92px 5px;
  }

  .slider__arrow-left__wrapper {
    left: 35.2%;
  }

  .slider__arrow-right__wrapper {
    right: 35.2%;
  }

  .slide__wrapper {
    width: 295px;
    height: 354px;
  }

  .slide-info {
    width: 100%;
    padding: 6px 11px 12px 15px;
  }

  .slide-text__wrapper {
    bottom: 10px;
  }

  .slide__wrapper:hover .slide-text__wrapper {
    bottom: 60px;
  }

  /* FOURTH SECTION */

  .fourth-section {
    padding: 30px 3% 50px;
  }

  .pick-and-feed {
    padding: 30px 0 50px;
  }

  .pick-and-feed__title {
    margin-bottom: 22px;
  }

  .pick-and-feed__main-text {
    text-align: center;
    margin: 0 0 20px 0;
  }

  .pick-and-feed__text_bold {
    margin: 0 10% 10px 5.2%;
  }

  .pick-and-feed__text {
    margin: 0 10% 40px 5.2%;
  }

  .pick-and-feed__text_underline {
    padding-bottom: 1px;
  }

  .pick-and-feed__steps {
    max-width: 765px;
    margin: 0 auto 70px;
  }

  .pick-and-feed__step {
    width: 22%;
  }

  /*FIFTH SECTION*/

  .fifth-section {
    padding: 100px 0 140px;
  }

  .fifth-section:after {
    content: url('../../../assets/images/leaf-small.png');
    position: absolute;
    bottom: -90px;
    right: 0;
    z-index: -1;
    width: 196px;
  }

  .testimonials__wrapper {
    padding: 0 1%;
  }

  .testimonials {
    width: 952px;
  }

  .testimonials__title {
    margin-bottom: 31px;
  }

  .testimonials__content {
    margin-bottom: 22px;
  }

  .testimonial {
    width: 293px;
    height: 390px;
    padding: 13px 15px 15px 15px;
  }

  .testimonial__header {
    display: flex;
    gap: 8px;
    margin-bottom: 10px;
  }

  .testimonial__img {
    width: 37px;
  }

  .testimonial__text {
    height: 289px;
  }

  .testimonials__range__wrapper {
    width: 390px;
    margin-bottom: 52px;
    margin-right: 10px;
  }

  .testimonials__range::-webkit-slider-thumb {
    width: 75px;
  }

  .testimonials__range::-moz-range-thumb {
    width: 75px;
  }

  /*FOOTER*/

  .footer-info__wrapper {
    padding: 0 1.8% 0 4.3%;
  }

  .footer-logo__title {
    margin-bottom: 69px;
  }
  .footer__menu {
    margin: 0 -80px 4px -35px;
  }

  .subscribe__title {
    margin-bottom: 15px;
    margin-left: -30px;
  }

  .subscribe__form {
    margin-left: -30px;
    margin-right: 30px;
  }
}

@media (max-width: 965px) {
  /* FIRST SECTION */

  .header__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
  }

  .header {
    justify-content: space-between;
    padding: 1px 3%;
    position: relative;
  }

  .logo__title {
    width: 47px;
    border: none;
    font-size: 12px;
    margin: 0;
  }

  .logo__img:before {
    content: url('../../../assets/icons/bamboo-tablet.svg');
  }

  .header__menu {
    display: none;
  }

  .copyright {
    display: none;
  }

  .burger-img {
    display: block;
    cursor: pointer;
  }

  .burger-menu__icon {
    width: 19px;
    height: 18px;
  }

  .burger-popup {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -350px;
    left: 0;
    width: 100%;
    background: #ffffff;
    z-index: 4;
    padding: 10px;
    transition: transform 0.5s;
  }

  .cross_burger {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

  .burger-logo__title {
    color: rgba(254, 144, 19, 1);
    border: 1px solid rgba(254, 144, 19, 1);
    font-size: 15px;
    width: 66px;
    margin-bottom: 30px;
    cursor: default;
  }

  .logo__img_burger:before {
    content: url('../../../assets/icons/bamboo-orange.svg');
  }

  .burger-menu__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
    list-style-type: none;
  }

  .burger-menu__link {
    color: #333b41;
  }

  .burger-menu__link:active {
    color: #f9804b;
  }

  .watch-favorite__wrapper {
    padding: 32.8px 18px 40px;
  }

  .watch-favorite {
    width: 255px;
    margin: 48px 0 0 auto;
  }

  .watch-favorite__title {
    margin: 0;
    font-size: 54px;
  }

  .watch-favorite__title:before {
    top: -37px;
    left: -37px;
    width: 237px;
    height: 237px;
  }

  .watch-favorite__btn {
    display: none;
  }

  .watch-favorite__btn_tablet {
    display: block;
    margin-top: -5px;
  }

  /* SECOND SECTION */

  .second-section {
    position: relative;
  }

  .backstage {
    margin: -5px auto 25px;
    padding: 0 0 0 3%;
    display: flex;
  }

  .backstage-img__wrapper {
    display: none;
  }

  .backstage__text {
    flex: 1 1 495px;
    justify-content: start;
  }

  .backstage__title {
    margin: 65px 0 20px 5px;
  }

  .backstage-info__first {
    margin-bottom: 30px;
  }

  .backstage__subtitle {
    margin: 0 0 20px 5px;
  }

  .backstage-info__second {
    margin-bottom: 35px;
  }

  .flower-img_tablet {
    display: block;
  }

  /* THIRD SECTION */

  .third-section {
    padding-bottom: 100px;
  }

  .slider__arrow-left__wrapper {
    top: 49.5%;
    left: 38%;
  }

  .slider__arrow-right__wrapper {
    top: 49.5%;
    right: 38%;
  }

  .slider__content {
    width: 600px;
  }

  .slide__wrapper {
    width: 285px;
    height: 332px;
  }

  .slide__wrapper:nth-child(5) {
    display: none;
  }

  .slide__wrapper:nth-child(6) {
    display: none;
  }

  .slide__wrapper:nth-child(7) {
    display: none;
  }

  .slide-info {
    width: 100%;
    padding: 5px 11px 5px 10px;
  }

  .slide-info__title {
    line-height: 100%;
    font-size: 13px;
  }

  .slide-info__text {
    font-size: 11.5px;
  }

  .slide-info__text_alligator-desktop {
    display: none;
  }

  .slide-info__text_alligator-tablet {
    display: block;
  }

  .slide-info__icon {
    height: 35px;
    margin-left: auto;
    padding-bottom: 5px;
  }

  .choose-favorite__btn {
    margin: 60px auto 0;
  }

  .third-section:before {
    content: url('../../../assets/images/palm-tablet.png');
    width: 125px;
  }

  .third-section:after {
    content: url('../../../assets/images/strelitzia-tablet.png');
    width: 175px;
  }

  /* FOURTH SECTION */

  .fourth-section {
    padding: 3% 0;
  }

  .pick-and-feed {
    padding: 8px 20px 60px;
  }

  .pick-and-feed__title {
    margin-bottom: 20px;
    font-size: 42px;
  }

  .pick-and-feed__main-text {
    text-align: start;
    margin: 0 0 20px 0;
    font-size: 22px;
  }

  .pick-and-feed__text_bold {
    text-align: start;
    margin: 0 0 10px 0;
    font-size: 16px;
  }

  .pick-and-feed__text {
    margin: 0 0 30px 0;
    font-size: 16px;
  }

  .pick-and-feed__text_underline {
    padding-bottom: 1px;
  }

  .pick-and-feed__subtitle {
    margin-bottom: 19px;
  }

  .pick-and-feed__steps {
    margin: 0 auto 40px;
  }

  .pick-and-feed__step {
    width: 28%;
  }

  .arrow-img {
    display: none;
  }

  .pick-and-feed__step_2 {
    position: relative;
  }

  .pick-and-feed__step_2:before {
    content: url('../../../assets/icons/feed-arrow-tablet.svg');
    position: absolute;
    top: -17px;
    left: -75px;
  }

  .pick-and-feed__step_2:after {
    content: url('../../../assets/icons/feed-arrow-tablet.svg');
    position: absolute;
    top: -17px;
    right: -58px;
  }

  .pick-and-feed__step_3 {
    margin-right: 13px;
  }

  /*FIFTH SECTION*/

  .fifth-section {
    padding: 60px 0 80px;
  }

  .fifth-section:after {
    content: url('../../../assets/images/leaf-tablet.png');
    bottom: -72px;
    right: -130px;
    width: 247px;
  }

  .testimonials__wrapper {
    padding: 0 3%;
  }

  .testimonials__title {
    margin-bottom: 32px;
  }

  .testimonials__content {
    width: 100%;
    margin-bottom: 40px;
    flex-direction: column;
    gap: 15px;
  }

  .testimonial {
    width: 100%;
    height: 109px;
    padding: 12px 25px 8px 14px;
  }

  .testimonial_4 {
    display: none;
  }

  .testimonial_5 {
    display: none;
  }

  .testimonial_6 {
    display: none;
  }

  .testimonial_7 {
    display: none;
  }

  .testimonial_8 {
    display: none;
  }

  .testimonial_9 {
    display: none;
  }

  .testimonial_10 {
    display: none;
  }

  .testimonial_11 {
    display: none;
  }

  .testimonial__text {
    height: 38px;
  }

  .testimonials__range__wrapper {
    display: none;
  }

  .testimonials__btn {
    align-self: center;
    width: 240px;
  }

  /*FOOTER*/

  .footer {
    padding: 12px 0;
  }

  .footer-info__wrapper {
    display: none;
  }

  .footer-info__wrapper_tablet {
    margin: 0 auto;
    display: flex;
    padding: 0 10px;
    justify-content: space-between;
  }

  .footer__links {
    margin-left: 10px;
  }

  .footer-logo__title {
    width: 82px;
    padding: 2px 0;
    position: relative;
    text-align: center;
    border: 1px solid #ffffff;
    border-radius: 2px;
    font-weight: 400;
    font-size: 19px;
    line-height: 120%;
    margin-bottom: 32px;
  }

  .footer__btn {
    margin-bottom: 99px;
  }

  .footer__menu {
    align-self: start;
    margin: 0;
  }

  .list {
    gap: 37px;
  }

  .footer__social-net {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
  }

  .links {
    gap: 20px;
  }

  .footer__copyright {
    margin-right: 10px;
    margin-bottom: -5px;
    font-weight: 100;
    font-size: 16px;
    line-height: 160%;
  }

  .copyright__author {
    margin-bottom: 5px;
  }
}

@media (max-width: 585px) {
  /* FIRST SECTION */

  .logo__img_footer:before {
    content: url('../../../assets/icons/bamboo.svg');
  }

  .first-section {
    background-image: none;
  }

  .watch-favorite__wrapper {
    margin-top: 34px;
    padding: 0 10px 41px;
    color: white;
    background-image: url('../../../assets/images/giant-panda.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .watch-favorite {
    width: 128px;
    margin: 41px 0 0 auto;
  }

  .watch-favorite__title {
    font-size: 28px;
  }

  .watch-favorite__title:before {
    top: -19px;
    left: -19px;
    width: 119px;
    height: 119px;
  }

  .watch-favorite__btn_tablet {
    display: none;
  }

  /* SECOND SECTION */

  .second-section:after {
    display: block;
    content: url('../../../assets/images/flower-mobile.png');
    position: absolute;
    top: 38px;
    right: 5px;
    height: 217px;
    width: 30px;
  }

  .backstage {
    margin: 20px auto 40px;
    padding: 0 3%;
    flex-direction: column;
  }

  .watch-favorite__btn_mobile {
    display: block;
    align-self: center;
  }

  .backstage__text {
    flex: 0 1 300px;
    margin-right: 10px;
    justify-content: start;
  }

  .backstage__title {
    font-size: 24px;
    margin: 30px 0 10px 0;
  }

  .backstage-info__first {
    margin-left: 2px;
    margin-bottom: 22px;
  }

  .backstage__subtitle {
    margin: 0 0 6px 3px;
  }

  .backstage-info__second {
    margin-right: -3px;
    margin-bottom: 0;
  }

  .flower-img_tablet {
    display: none;
  }

  /* THIRD SECTION */

  .third-section {
    padding-bottom: 60px;
  }

  .slider {
    padding: 0 3%;
  }

  .slider__content {
    width: 100%;
  }

  .slider__content_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 0 auto;
    gap: 20px 0;
  }

  .slider__arrow-left__wrapper {
    display: none;
  }

  .slider__arrow-right__wrapper {
    display: none;
  }

  .slide__wrapper {
    width: calc(100% - 14px);
    height: 103.7vw;
  }

  .slide-info {
    padding: 3px 8px 5px 12px;
  }

  .choose-favorite__btn {
    margin: 20px auto 0;
  }

  .third-section:before {
    content: url('../../../assets/images/palm-mobile.png');
    width: 138px;
  }

  .third-section:after {
    content: url('../../../assets/images/strelitzia-mobile.png');
    width: 68px;
    bottom: -8px;
  }

  /* FOURTH SECTION */

  .fourth-section {
    padding: 20px 3%;
  }

  .pick-and-feed {
    padding: 20px 0 40px;
  }

  .pick-and-feed__title {
    margin-bottom: 10px;
    font-size: 24px;
  }

  .pick-and-feed__main-text {
    text-align: center;
    margin: 0 0 20px 0;
    font-size: 18px;
  }

  .pick-and-feed__text_bold {
    display: none;
  }

  .pick-and-feed__text {
    display: none;
  }

  .pick-and-feed__subtitle {
    margin-bottom: 20px;
    font-size: 24px;
  }

  .pick-and-feed__steps {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .pick-and-feed__step {
    width: 168px;
  }

  .step-img__wrapper {
    margin-bottom: 10px;
  }

  .pick-and-feed__step_2 {
    position: relative;
  }

  .pick-and-feed__step_2:before {
    content: url('../../../assets/icons/feed-arrow-tablet.svg');
    position: absolute;
    transform: rotate(90deg);
    top: -50px;
    left: 138px;
  }

  .pick-and-feed__step_2:after {
    content: url('../../../assets/icons/feed-arrow-tablet.svg');
    position: absolute;
    transform: rotate(90deg);
    top: 200px;
    right: -60px;
  }

  .pick-and-feed__step_3 {
    margin-top: -10px;
    margin-right: 0;
  }

  /*FIFTH SECTION*/

  .fifth-section {
    padding: 25px 0 60px;
  }

  .fifth-section:after {
    content: url('../../../assets/images/leaf-mobile.png');
    bottom: -33px;
    right: -197px;
    width: 247px;
  }

  .testimonials__title {
    margin-bottom: 22px;
    font-size: 24px;
  }

  .testimonials__content {
    margin-bottom: 30px;
  }

  .testimonial {
    width: 100%;
    height: 109px;
    padding: 10px 5px 8px 12px;
  }

  .testimonial__text {
    height: 38px;
  }

  .testimonials__range__wrapper {
    display: none;
  }

  .testimonials__btn {
    align-self: center;
    width: 240px;
  }

  /*FOOTER*/

  .footer {
    padding: 20px 0;
  }

  .footer-info__wrapper_tablet {
    display: none;
  }

  .footer-info__wrapper_mobile {
    padding: 0 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-logo__title {
    width: 200px;
    text-align: center;
    padding: 0;
    border: none;
    margin-bottom: 28px;
  }

  .links {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    gap: 5px;
    padding: 0 53px;
    margin-bottom: 30px;
  }

  .icon__wrapper {
    margin: 0;
  }

  .footer__btn {
    margin-bottom: 28px;
  }

  .footer__menu {
    align-self: center;
    width: 100%;
    margin: 0;
  }

  .list {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 5px;
    padding: 0 10px;
  }

  .footer__copyright {
    font-size: 15px;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .copyright__author {
    margin-bottom: 5px;
  }
}

/*GENERAL*/

.item_active {
  color: #f9804b;
  pointer-events: none;
}

textarea:focus,
input:focus {
  outline: none;
}

.hide {
  display: none;
}

.burger-show {
  transform: translateY(350px);
}

.header-hide {
  transform: translateY(-40px);
}

.arrow_disabled {
  background: #767474;
  pointer-events: none;
}

/*TESTIMONIALS POPUP*/

.testimonial-popup {
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  padding: 20px 36px 17px 17px;
  background: rgba(241, 243, 242, 0.3);
  z-index: 4;
}

.cross_popup {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}

.testimonial_popup {
  width: 267px;
  height: 391px;
  background: #f1f3f2;
  border-radius: 20px;
  padding: 15px;
}

.testimonial_popup .testimonial__text {
  height: 309px;
}
