/* GENERAL */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* max-width: 1600px;
  margin: 0 auto; */
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

a {
  color: white;
  text-decoration: none;
}

/* FIRST SECTION */

.first-section {
  color: white;
  background-image: url('../../../assets/images/Giant\ Panda.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 0.75vw;
}

.header {
  display: flex;
  align-items: center;
  padding: 0.875vw 13.75vw;
  background: #000000;
}

.logo {
  width: 5.125vw;
  position: relative;
  text-align: center;
  border: 1px solid #ffffff;
  border-radius: 2px;
}

.logo__title {
  margin: 0;
  text-align: center;
  font-weight: 400;
  font-size: 1.1875vw;
  line-height: 120%;
}

.logo__icon {
  position: absolute;
  bottom: 0.3125vw;
  left: 0.5625vw;
  height: 1.375vw;
}

.menu {
  margin-left: 5.5%;
}

.list {
  display: flex;
  gap: 3.625vw;
  list-style-type: none;
}

.item {
  font-weight: 500;
  font-size: 1vw;
  align-self: center;
}

.item_active {
  color: #f9804b;
}

.copyright {
  margin-left: auto;
  font-size: 1vw;
}

.watch-favorite {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 31.25vw;
  margin: 5.375vw 13.7vw 0 auto;
  padding-bottom: 6.25vw;
  position: relative;
}

.watch-favorite__ellipse {
  position: absolute;
  top: -4.625vw;
  left: -4.625vw;
  width: 29vw;
  height: 29vw;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 50%;
}

.watch-favorite__title {
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 4.055vw 0;
  z-index: 2;
  font-weight: 700;
  font-size: 6.625vw;
  line-height: 75%;
}

.watch-favorite__title_yellow {
  color: #ffee2e;
}

.watch-favorite__btn {
  width: 18.625vw;
  height: 3.375vw;
  text-align: center;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 25px;
  font-weight: 500;
  font-size: 1vw;
  line-height: 140%;
  text-transform: uppercase;
  color: white;
  border: none;
}

/* SECOND SECTION */

.second-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.backstage {
  display: flex;
  margin: 8vw 13.7vw 0;
  gap: 5.56vw;
}

.backstage-img__wrapper {
  align-self: center;
}

.backstage-img {
  width: 38vw;
}

.backstage__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 400;
  color: #333b41;
}

.backstage__title {
  font-weight: 400;
  font-size: 3vw;
  line-height: 120%;
}

.backstage-info__first {
  font-size: 1vw;
  line-height: 130%;
  padding-bottom: 1.875vw;
}

.backstage__subtitle {
  font-weight: 400;
  font-size: 1.5vw;
  line-height: 120%;
  padding-bottom: 0.625vw;
}

.backstage-info__second {
  font-size: 1vw;
  line-height: 140%;
}

.flower-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  height: 38vw;
  width: 12.7vw;
}

.flower-img {
  height: 100%;
  width: 100%;
}
