<div class="container">
  <section class="wrapper">
    <p class="info">
      <b>songBird</b> - это приложение, которое позволит вам ближе познакомиться с миром птиц. Вы сможете узнать информацию о конкретной
      птице, посмотреть как она выглядит и услышать как она поёт. Пройдя тест, у вас будет возможность закрепить на практике полученную
      информацию.
    </p>
    <button class="btn">
      Начать
      <img class="btn__img btn__img_right" src="../../assets/svg/feather.svg" />
    </button>
  </section>

  <div class="bird-container bird-container--one">
    <div class="bird bird--one"></div>
  </div>

  <div class="bird-container bird-container--two">
    <div class="bird bird--two"></div>
  </div>

  <div class="bird-container bird-container--three">
    <div class="bird bird--three"></div>
  </div>

  <div class="bird-container bird-container--four">
    <div class="bird bird--four"></div>
  </div>
</div>
