<section class="quiz-wrapper hide">
  <header class="quiz__header">
    <div class="quiz__score">Score: 0</div>
    <img src="../../assets/png/back-arrow.png" alt="Back" class="quiz-back back-arrow" />
  </header>
  <div class="quiz">
    <div class="quiz__genres">
      <p class="genre">Alternative</p>
      <p class="genre">Electronic</p>
      <p class="genre">Indie</p>
      <p class="genre">Metal</p>
      <p class="genre">Post-Soviet</p>
      <p class="genre">Punk</p>
    </div>
    <div class="quiz__question question">
      <div class="question__image-wrapper">
        <img src="../../assets/png/question-mark.png" alt="Question mark" class="question__image" />
      </div>
      <div class="question__info">
        <div class="question__name">**********</div>
        <div class="question__audio"></div>
      </div>
    </div>
    <div class="quiz__options options">
      <div class="options__choice"></div>
      <div class="options__catalog">
        <div class="options__img-wrapper"></div>
        <div class="options__info info">
          <div class="info__audio"></div>
          <div class="info__description"></div>
        </div>
      </div>
    </div>
  </div>
  <button class="next__btn" disabled></button>
  <img src="../../assets/img/wallpapers/win.webp" alt="WIN" class="win-img" />
</section>
