@import './components/header/header.scss';
@import './components/footer/footer.scss';
@import './styles/variables.scss';

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

a {
  display: inline-block;
}

.btn {
  border: none;
  cursor: pointer;
}

html,
.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  position: relative;
}

.main {
  flex-grow: 1;
  display: flex;
  background-color: $black;
}
