@import './components/catalog-page/catalog.scss';
@import './components/quiz-page/quiz.scss';
@import './components/results-page/results.scss';
@import './components/start-page/start.scss';
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
@import './css/audio-player.scss';

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

html,
.body {
  background: #222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.main {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('./assets/img/wallpapers/scott-pilgrim-background.webp');
  background-size: auto 100%;
  background-position: center;
}

.footer {
  padding: 10px;

  &__content {
    display: flex;
    justify-content: end;
    gap: 30px;
  }

  &__img {
    height: 30px;
  }
}

.hide {
  display: none;
}
