<section class="catalog-wrapper hide">
  <img src="../../assets/png/back-arrow.png" alt="Back" class="catalog-back back-arrow" />
  <div class="catalog">
    <div class="catalog__music"></div>
    <div class="catalog__img-wrapper">
      <img src="../../assets/png/question-mark.png" alt="Question mark" class="catalog__img" />
    </div>
    <div class="catalog__description">
      <div class="catalog__text">
        Этот каталог позволит вам ознакомиться с репертуаром ваших противников. Подготовьтесь тщательно, чтобы победить всех злых бывших
        Рамоны
      </div>
    </div>
  </div>
</section>
